<p id="notice"><%= notice %></p>

<h1>Listing Representations</h1>

<table>
  <thead>
    <tr>
      <th>Cle</th>
      <th>Name</th>
      <th>Startdate</th>
      <th>Starttime</th>
      <th>Enddate</th>
      <th>Endtime</th>
      <th>Spectacle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @representations.each do |representation| %>
      <tr>
        <td><%= representation.cle %></td>
        <td><%= representation.name %></td>
        <td><%= representation.startDate %></td>
        <td><%= representation.startTime %></td>
        <td><%= representation.endDate %></td>
        <td><%= representation.endTime %></td>
        <td><%= representation.spectacle %></td>
        <td><%= link_to 'Show', representation %></td>
        <td><%= link_to 'Edit', edit_representation_path(representation) %></td>
        <td><%= link_to 'Destroy', representation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Representation', new_representation_path %>
