<p id="notice"><%= notice %></p>

<p>
  <strong>Cle:</strong>
  <%= @representation.cle %>
</p>

<p>
  <strong>Name:</strong>
  <%= @representation.name %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @representation.startDate %>
</p>

<p>
  <strong>Starttime:</strong>
  <%= @representation.startTime %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @representation.endDate %>
</p>

<p>
  <strong>Endtime:</strong>
  <%= @representation.endTime %>
</p>

<p>
  <strong>Spectacle:</strong>
  <%= @representation.spectacle %>
</p>

<%= link_to 'Edit', edit_representation_path(@representation) %> |
<%= link_to 'Back', representations_path %>
