<%= form_for(@spectacle) do |f| %>
  <% if @spectacle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spectacle.errors.count, "error") %> prohibited this spectacle from being saved:</h2>

      <ul>
      <% @spectacle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cle %><br>
    <%= f.number_field :cle %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
