<p id="notice"><%= notice %></p>

<p>
  <strong>Cle:</strong>
  <%= @spectacle.cle %>
</p>

<p>
  <strong>Name:</strong>
  <%= @spectacle.name %>
</p>

<%= link_to 'Edit', edit_spectacle_path(@spectacle) %> |
<%= link_to 'Back', spectacles_path %>
