<%= flash[:notice] %>

<h2>Data</h2>
<%= link_to 'Import', import_path %><br/>
<%= link_to "Export", export_path(format: "csv") %><br/>

<h3>Counts :</h3>
<ul>
  <li>Ticket : <%= Ticket.count %></li>
  <li>Spectacle : <%= Spectacle.count %></li>
  <li>Representation : <%= Representation.count %></li>
  <li>Client : <%= Client.count %></li>
</ul>
<br/>

<h3>Average age : <%= Client.average(:age) %></h3>
<br/>

<h3>Average price by spectacle :</h3>
<ul><% Spectacle.all.each do |s| %>
  <li><%= s.name %> : <%= s.tickets.average(:price) %></li>
<% end %></ul>
<br/>

<h3>Average price by client :</h3>
<ul><% Client.all.each do |c| %>
  <li><%= c.firstname + " " + c.name %> : <%= c.tickets.average(:price) %></li>
<% end %></ul>
<br/>

<h3>Average price by cart :</h3>
<ul><% Ticket.group(:reservation).average(:price).each do |cart| %>
  <li><%= cart.first %> : <%= cart.last %></li>
<% end %></ul>