<div class="container"><div class="row">
<%= flash[:notice] %>

<h2>Data</h2>
<div class="btn-group" role="group" aria-label="...">
  <%= link_to 'Import', import_path, class: "btn btn-default" %>
  <%= link_to "Export", export_path(format: "csv"), class: "btn btn-default" %>
</div>

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#count" aria-controls="count" role="tab" data-toggle="tab">Counts</a></li>
    <li role="presentation"><a href="#age" aria-controls="age" role="tab" data-toggle="tab">Average age</a></li>
    <li role="presentation"><a href="#spectacle" aria-controls="spectacle" role="tab" data-toggle="tab">By spectacle</a></li>
    <li role="presentation"><a href="#client" aria-controls="client" role="tab" data-toggle="tab">By client</a></li>
    <li role="presentation"><a href="#cart" aria-controls="cart" role="tab" data-toggle="tab">By cart</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="count">
      <table class="table table-striped">
        <tbody>
            <tr>
              <td>Ticket</td>
              <td><%= Ticket.count %></td>
            </tr>
            <tr>
              <td>Spectacle</td>
              <td><%= Spectacle.count %></td>
            </tr>
            <tr>
              <td>Representation</td>
              <td><%= Representation.count %></td>
            </tr>
            <tr>
              <td>Client</td>
              <td><%= Client.count %></td>
            </tr>
        </tbody>
      </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="age">
      <%= Client.average(:age) %>
    </div>
    <div role="tabpanel" class="tab-pane" id="spectacle">
      <table class="table table-striped">
        <thead>
            <th>Name</th>
            <th>Average ticket price</th>
            <th>Representations</th>
            <th>Tickets</th>
        </thead>
        <tbody>
          <% Spectacle.all.each do |s| %>
            <tr>
              <td><%= s.name %></td>
              <td><%= s.tickets.average(:price) %></td>
              <td><%= s.representations.count %></td>
              <td><%= s.tickets.count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="client">
      <table class="table table-striped">
        <thead>
            <th>Name</th>
            <th>Average price</th>
            <th>Tickets</th>
        </thead>
        <tbody>
          <% Client.all.each do |c| %>
            <tr>
              <td><%= c.firstname + " " + c.name %></td>
              <td><%= c.tickets.average(:price) %></td>
              <td><%= c.tickets.count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="cart">
      <% carts = Ticket.group(:reservation).average(:price) %>
      <p>Average cart price : <%= carts.sum(&:last)/carts.size %></p>
      <table class="table table-striped">
        <thead>
            <th>Reservation number</th>
            <th>Average ticket price</th>
        </thead>
        <tbody>
          <% carts.each do |cart| %>
            <tr>
              <td><%= cart.first %></td>
              <td><%= cart.last %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

</div></div>