<p id="notice"><%= notice %></p>

<h1>Listing Tickets</h1>

<table>
  <thead>
    <tr>
      <th>Ref</th>
      <th>Command</th>
      <th>Reservation</th>
      <th>Resadate</th>
      <th>Resatime</th>
      <th>Price</th>
      <th>Accessdate</th>
      <th>Accesstime</th>
      <th>Tarif</th>
      <th>Type</th>
      <th>Serie</th>
      <th>Floor</th>
      <th>Sellpoint</th>
      <th>Client</th>
      <th>Representation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.ref %></td>
        <td><%= ticket.command %></td>
        <td><%= ticket.reservation %></td>
        <td><%= ticket.resaDate %></td>
        <td><%= ticket.resaTime %></td>
        <td><%= ticket.price %></td>
        <td><%= ticket.accessDate %></td>
        <td><%= ticket.accessTime %></td>
        <td><%= ticket.tarif %></td>
        <td><%= ticket.type %></td>
        <td><%= ticket.serie %></td>
        <td><%= ticket.floor %></td>
        <td><%= ticket.sellPoint %></td>
        <td><%= ticket.client %></td>
        <td><%= ticket.representation %></td>
        <td><%= link_to 'Show', ticket %></td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
        <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_ticket_path %>
