<p id="notice"><%= notice %></p>

<p>
  <strong>Ref:</strong>
  <%= @ticket.ref %>
</p>

<p>
  <strong>Command:</strong>
  <%= @ticket.command %>
</p>

<p>
  <strong>Reservation:</strong>
  <%= @ticket.reservation %>
</p>

<p>
  <strong>Resadate:</strong>
  <%= @ticket.resaDate %>
</p>

<p>
  <strong>Resatime:</strong>
  <%= @ticket.resaTime %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ticket.price %>
</p>

<p>
  <strong>Accessdate:</strong>
  <%= @ticket.accessDate %>
</p>

<p>
  <strong>Accesstime:</strong>
  <%= @ticket.accessTime %>
</p>

<p>
  <strong>Tarif:</strong>
  <%= @ticket.tarif %>
</p>

<p>
  <strong>Type:</strong>
  <%= @ticket.type %>
</p>

<p>
  <strong>Serie:</strong>
  <%= @ticket.serie %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @ticket.floor %>
</p>

<p>
  <strong>Sellpoint:</strong>
  <%= @ticket.sellPoint %>
</p>

<p>
  <strong>Client:</strong>
  <%= @ticket.client %>
</p>

<p>
  <strong>Representation:</strong>
  <%= @ticket.representation %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
